*     {
  box-sizing: border-box;
        }

body   {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
}



/* styling our overall page */
body     {
  background: #FFF;
  font-family: Arial, Helvetica, sans-serif;
}

/* styling our header */
header   {
  background: #222;
  color: #FFF;
  padding: 20px 30px;
}

main section #input {
    background-color: rgb(122, 119, 119, .03);
}


/* styling our main content */
.hero           {
  min-height: 800px;
  text-align: center;
  background-image: url(./sky.jpg);
  background-size: cover;
}
.hero-content   {
  color: #FFF;
  padding-top: 130px;
}
.title   {
  font-size: 75;
  margin: 0;
}
.subtitle    {
  font-size: 50px;
}
.hero-content a    {
  display: inline-block;
  color: #FFF;
  border: 3px solid #FFF;
  border-radius: 3px;
  padding: 15px 30px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 28px;
}

  /* styling our footer */
footer   {
  background: #222;
  color: #777;
  padding: 40px;
  text-align: center;
}
footer img   {
  display: block;
  border-radius: 5px;
  width: 80px;
  margin: 0 auto 10px;
}